{% extends 'base.html.twig' %}

{% block title %}{{'Produit.produit'|trans}}{% endblock %}

{% block body %}
    {{include('produit/_table.html.twig', {'produits':produits})}}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">{{'Produit.creer'|trans}}</a>
    {% endif %}

    {% if app.user is null %}
        <a href="{{path('app_login')}}">{{'Connecter'|trans}}</a>
        <a href="{{path('app_register')}}">{{'Creer'|trans}}</a>
    {% else %}
        <a href="{{path('modif_profil', {'id':app.user.id})}}">{{'ModifProfil'|trans}}</a>
    {% endif %}
{% endblock %}
