{% extends 'base.html.twig' %}

{% block title %}{{'Produit.new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Produit.new'|trans}}</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">{{'back'|trans}}</a>
{% endblock %}
